/* Estilo general */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #9d27f7 0%, #c25ffb 100%);
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

/* Contenedor principal */
.calculadora {
    background: #2d3436;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.48);
    width: 277;
}

/* Tamaño y apariencia a la pantalla */
#pantalla {
    width: 100%;
    height: 60px;
    margin-bottom: 13px;
    font-size: 1.8rem;
    text-align: right;
    padding: 1.49px;
    box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 13px;
    border: none;
    background: #dfe6e9;
}

/* Se organizan los botones en columnas de cuatro */
.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

/* Estilos generales para los botones */
button {
    height: 60px;
    border-radius: 13px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: 0.13s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Se le da apariencia de mover los botones hacia abajo al ser presionados */
button.btn:active {
    transform: translateY(2px);
    filter: brightness(1.2);
}

/* Color gris claro a los botones de número */
.num {
    background: #b2bec3;
    color: #2d3436;
}

/* El cero ocupará dos columnas */
.cero {
    grid-column: span 2;
}

/* Los botones de operación serán de color amarillo */
.operador {
    background: #f1b706;
    color: #2d3436;
}

/* El botón limpiar "clear" será de color rojo */
.clear {
    background: #d63031;
    color: #2d3436;
}

/* El botón igual será de color turquesa claro */
.igual {
    background: #00cec9;
    color: white;
}

/* El color del botón para decimal será de color lila */
.decimal {
    background: #bc57f7;
    color: white;
}
