/* Estilo general */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #9d27f7 0%, #c25ffb 100%);
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

/* Contenedor principal */
.calculadora {
    background: #2d3436;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.48);
    width: 277;
}

/* Tamaño y apariencia a la pantalla */
#pantalla {
    width: 100%;
    height: 60px;
    margin-bottom: 13px;
    font-size: 1.8rem;
    text-align: right;
    padding: 1.49px;
    box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 13px;
    border: none;
    background: #dfe6e9;
}

/* Se organizan los botones en columnas de cuatro */
.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

/* Estilos generales para los botones */
button {
    height: 60px;
    border-radius: 13px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: 0.13s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

