/* Estilo general */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #74b9ff 0%, #0984e3 100%);
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

/* Contenedor principal */
.calculadora {
    background: #2d3436;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.48);
    width: 277px;
}

/* Tamaño y apariencia a la pantalla */
#pantalla {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    text-align: right;
    padding: 1.49px;
    box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 13px;
    border: none;
    background: #dfe6e9;
}

/* Organizamos los botones en columnas de cuatro */
.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}

/* Estilos generales para los botones */
button {
    height: 60px;
    font-size: 1.2rem;
    border-radius: 13px;
    border: none;cursor: pointer;
    transition: 0.13s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Se da apariencia de mover los botones hacia abajo */
button.btn:active {
    transform: translateY(2px);
    filter: brightness(1.2);
}

/* Color gris claro a los botones de número */
.num {
    background: #b2bec3;
    color: #2d3436;
}

/* El cero ocupa dos columnas*/
.cero {
    grid-column: span 2;
}

/* color amarillo a los botones de operación */
.operador {
    background: #f1b706;
    color: #2d3436;
}

/* Color rojo al boton clear */
.clear {
    background: #d63031;
    color: white;
}

/* Color turquesa claro para el boton igual */
.igual {
    background: #00cec9;
    color: white;
}

/* Color turquesa oscuro para el boton decimal */
.decimal {
    background: #00b894;
    color: white;
}

.invisible {
    background: transparent;
    box-shadow: none;
    pointer-events: none;
    visibility: hidden;
}


